@page "/play"
@using Features.Api
@using Jobotwar.WebApp.Drawing
@using Jobotwar.WebApp.Services
@using Microsoft.Extensions.Logging
@using System.Collections.Immutable
@using System.Drawing
@using System.Threading
@using Color=System.Drawing.Color
@inject IApiClient _api
@inject TickerFactory _tickerFactory
@inject NavigationManager _navigationManager
@inject ILogger<Play> _log
@inject ILoggerFactory _loggerFactory;
@implements IDisposable

<h3>Play</h3>

@if (_playing == false)
{
    <ul class="nav nav-tabs">
        @foreach (var robot in _robotModels)
        {
            var cssClass = robot == _selectedRobotModel ? "nav-link active" : "nav-link";
            <li class="nav-item">
                <a class="@cssClass" aria-current="page" @onclick="() => SelectRobot(robot)">@robot.Name</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link bg-secondary text-white" aria-current="page" style="font-weight: normal; cursor: hand;" @onclick="AddRobot">+</a>
        </li>
        @* <button class="btn btn-info mx-3" @onclick="AddRobot">Add</button> *@
    </ul>

    <div class="border border-top-0">
        <RobotEditor @ref="_robotEditor" Robot="@_selectedRobotModel" />
    </div>

    <div class="my-3">
        <button class="btn btn-primary" @onclick="PlayGameAsync">&nbsp;Play!&nbsp;</button>
        <button class="btn btn-light" @onclick="() => _robotModels.Remove(_selectedRobotModel!)">Remove '@_selectedRobotModel?.Name'</button>
    </div>
}
else
{
    <BECanvas Width="@BoardWidth" Height="@BoardHeight" @ref="_canvas"></BECanvas>
}

@code {
    private const int BoardWidth = 640;
    private const int BoardHeight = 480;
    private readonly IList<RobotModel> _robotModels = new List<RobotModel>();
    private RobotEditor? _robotEditor;
    private RobotModel? _selectedRobotModel;
    private BECanvasComponent? _canvas;
    private CancellationTokenSource? _replayCancellationTokenSource;
    private bool _playing;

    public Play()
    {
        const string fastShooterCode = @"
            state main() {
                def angle
                @speed(@random(-50, 50), @random(-50, 50))
                while true {
                    def r = @radar(angle)
                    if r < 0 {
                        @fire(angle, abs(r))
                    } else {
                        angle = angle + 7
                    }
                }
            }";
        const string slowShooterCode = @"
            def angle = 0
            state main() {
                @speed(@random(-50, 50), @random(-50, 50))
                def r = @radar(angle)
                if r < 0 {
                    @fire(angle, abs(r))
                } else {
                    angle = angle + 7
                }
            }";

        _robotModels.Add(new RobotModel
        {
            Name = "Fast Shooter ",
            Code = fastShooterCode,
        });
        _robotModels.Add(new RobotModel
        {
            Name = "Slow Shooter ",
            Code = slowShooterCode,
        });
        _selectedRobotModel = _robotModels.First();
    }

    private void SelectRobot(RobotModel robotModel)
    {
        _log.LogInformation("selected robot: {SelectedRobot}", robotModel);
        if (robotModel != null && _robotModels.Contains(robotModel) == false)
        {
            throw new ArgumentException($"{nameof(robotModel)} is not contained in the robot list");
        }
        _selectedRobotModel = robotModel;
    }

    private void AddRobot()
    {
        _log.LogInformation("add robot");
        var robot = new RobotModel
        {
            Name = "Robot " + (_robotModels.Count + 1),
        };
        _robotModels.Add(robot);
        SelectRobot(robot);
    }

    protected override Task OnInitializedAsync()
    {
        _navigationManager.LocationChanged += NavigationManager_LocationChanged;
        return base.OnInitializedAsync();
    }

    private void NavigationManager_LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _log.LogInformation("navigate to: '{QueryUri}', intercepted: {NavigationIntercepted}", e.Location, e.IsNavigationIntercepted);
    }

    private async Task PlayGameAsync()
    {
        var random = new Random();
        const int margin = 30;
        var (width, height) = (BoardWidth, BoardHeight);

        var setup = new InstantMatchSetup(5 * 60 * 1000, width, height,
            _robotModels.Select(r => new InstantMatchRobot(r.Name, r.Code, "V2",
                    random.Next(margin, width - margin),
                    random.Next(margin, height - margin)))
                .ToArray());

        var result = await _api.PlayAsync(setup);
        var gameInfo = await _api.GetGameInfoAsync();

        _log.LogInformation("Result: {MatchResult}", result);
        var match = new MatchInfo(setup, result,
            _robotModels.ToImmutableDictionary(
                r => r.Name,
                r => new RobotDrawingInfo(r.Color)));

        _replayCancellationTokenSource = new CancellationTokenSource();
        _playing = true;
        StateHasChanged();

        await MatchReplay.PlayAsync(match,
            gameInfo,
            await _canvas.CreateCanvas2DAsync(),
            _tickerFactory,
            _loggerFactory.CreateLogger<MatchReplay>(),
            _replayCancellationTokenSource.Token);

        _log.LogInformation("game replay finished");
        _playing = false;
        StateHasChanged();
    }

    public void Dispose()
    {
        _navigationManager.LocationChanged -= NavigationManager_LocationChanged;
        _log.LogInformation("page disposed: {Page}", this);
        _replayCancellationTokenSource?.Cancel();
    }
}
